//our css code will go here

@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';

$primary-font: 'Dosis', sans-serif;
$secodary-font: 'Marck Script', cursive;
$title-font: 'Montserrat', sans-serif;

body {
    color: $primary-color;
    background: $secondary-color;
    font: $primary-font
  }


nav {
    font:$primary-color;
    background-color: $header-color;
    text-decoration: none;
}

nav {
    ul{
        display: inline-block;
    }
}


aside {
    border: 1px solid orange;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px; }


navbar.nav-left {
    @include navbar();
    }


    .nav-tabs{
        @include .nav-tabs;
    }
    
    .h1 {
        @include h1;
    }
      
    
    title {
        font: $title-font;   
    }