//our css code will go here

@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';


nav {
    background-color: navy
    ul {margin-bottom: 50};
    li {
        display: inline block;
        a {
            text-decoration: none;
            color:white;
        }
    }
}
}

